@model Enfant
@using tp2JordanCoutureLafranchise.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<div class="imgerreur">
    <h1 style="color:blue; font-size:60px; font-weight:bold; font-family:'Comic Sans MS'; text-align:center;">
        Le joueur que vous recherchez n'a pas été trouvé.
    </h1>
</div>