@model List<Parent>
@using tp2JordanCoutureLafranchise.Models;

@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="hero-background">
        <div class="background-text-hero">
            <div class="text-hero blanc">
                <h2 class="fontgras">LES ÉQUIPES DE LA LNH</h2>
                <H3 class="fontmedium" style="margin-bottom: 40px;">Découvrez l'univers captivant de la LNH et plongez<br> dans l'univers du hockey grâce à notre site web dédié,<br> mettant en avant les équipes légendaires.</H3>
                <a href="/home/Create" class="boutonlistejoueurs">Ajouter une équipe</a>


            </div>
        </div>
    </section>

    <section class="equipes" style="background: linear-gradient(179.96deg, #2C2C2C 0.04%, #8E5529 56.15%, #000000 123.57%);">
        <div class="container-fluid entitesparent">
            <div class="row">
                @foreach (var equipe in Model)
                {
                    <Partial name="_Equipe" for="@equipe"></Partial>
                }
            </div>
        </div>
    </section>

</main>
